*{margin: 0; padding: 0;}
.top{height: 80px;}
.top .logo{width: 1200px; margin: 0 auto; font-size: 30px;height: 80px; line-height: 80px; }
.top .logo img{vertical-align: middle}
.login{height: 700px; background: url("../images/login.jpg")no-repeat top left; background-size: 100%; }
.loginForm{width: 500px;height: 400px; background: #FFFFFF; padding-top:60px;float: right; margin: 50px 200px;}
.loginForm form p{margin-left: 40px;font-size: 30px;}
.loginForm input{width: 300px;height: 40px; margin: 10px 40px;}
.loginForm>p{margin-left: 40px; }
.loginForm label{display: block}
.loginForm label button{margin-left: 40px;}
.register{width: 500px;height: 400px; background: #FFFFFF; padding:60px;float: right; margin: 50px 200px;}
.register label{display: block}