<div class="com_wrap">
    <div class="com_main">
        <div class="com_top">
            <p>
                <a href="javascript:;">手机</a>>
                <a href="javascript:;">手机通讯</a> >
                <a href="javascript:;">Android</a> >
                <a href="javascript:;">华为(HUAWEI)</a> >
                <a href="javascript:;">华为荣耀8</a>
            </p>
        </div>
        <div class="com_list clearfix">
            <div class="left">
                <div id="Magnifier" class="pic"><img class="picul" ng-src="images/{{data.imgSrc}}"></div>

                <div class="img_list" id="picList">
                    <div id="scrollbox">
                        <ul>
                            <li class="" ng-repeat="item in data.small"><img ng-src="images/{{item}}"></li>
                        </ul>
                    </div>

                </div>
                <div class="left_bot">
                    <p><i class="fa fa-share-alt"></i><span>分享</span><i class="fa fa-heart"></i><span>关注商品</span></p>
                    <p>举报</p>
                </div>
            </div>
            <div class="center">
                <div class="top">
                    <h3>{{data.dis}}</h3>
                    <p>{{data.dis}}<a href="javascript:;">{{data.dis}}</a></p>
                    <button type="button">对比</button>
                </div>
                <div class="txt">
                    <div class="price_back">
                        <div class="pic"><img src="images/586dd03eN70b64e6f.png"></div>
                        <p class="p1"><span>京 &nbsp;东 &nbsp;价：</span><span id="qian">{{data.price | currency:"￥"}}</span><a
                                href="javascript:;"> (降价通知)</a></p>
                        <p class="p2"><span>促销信息：</span><span>限制</span>此价格不与套装优惠同时享受</p>
                        <p id="p3" class="p3"><span></span><span>加价购</span>满999.00另加69.00元，或满1999.00另加435.00元，即可在购物车换
                        </p>
                        <div id="showtxt">
                            <p class="p4">购热销商品<a href="javascript:;">详情 >></a></p>
                            <p class="p5"><span></span><span>满额返券</span>购买自营手机产品满999元返自营冷饮冻食40元优惠劵<a
                                    href="javascript:;">详情 >></a></p>
                        </div>
                        <p class="p6"><span>领　　券：</span><a href="javascript:;"><img src="images/jiage.jpg"></a><a
                                href="javascript:;">更多 >></a></p>
                    </div>
                    <div class="price_fff">
                        <p class="p1"><span>支　　持：</span><a href="javascript:;">以旧换新，闲置笔记本回收</a></p>
                        <div class="btn">
                            <span>配 &nbsp;送&nbsp; 至：</span>
                            <div class="address">
                                <span id="addrssId">北京朝阳区三环以内<i class="fa fa-chevron-down"></i></span>
                            </div>
                            <span>有货,</span>支持<a href="javascript:;">99元免基础运费(50kg内)</a>|<a href="javascript:;">货到付款</a>
                        </div>
                        <p class="p2"><span>服　　务：</span>由 京东 发货，并提供售后服务。23:00前完成下单,预计<span>明天(01月20日)</span>送达</p>
                        <p><span>重　　量：</span>3.12kg</p>
                    </div>
                </div>
                <div class="selectBtn">
                    <span id="chuncolor">选择颜色：</span>
                    <div class="btn clearfix" id="selectBtnTop">
                        <div class="list ac"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【七代i7 4G 1T office 黑】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石电竞版【i7 4G 1T 黑】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石标压【i7 4G 1T128G 黑】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石标压【i7 4G 1T128G 黑】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 128SSD office蓝】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 512SSD office 蓝】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 4G 512SSD 白色】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 512SSD office 白】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 4G 512SSD 红色】</span></a>
                        </div>
                        <div class="list"><a href="javascript:;"><img src="images/583ce389N85bb037d.jpg"><span>顽石【i7 512SSD office 红】</span></a>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <span>增值保障：</span>
                    <div class="btn" id="btnXuanze">
                        <div class="list"><img src="images/567caff5Nc4185618.png"><span>服务送鼠标￥59</span><i
                                class=" fa fa-chevron-down"></i></div>
                        <div class="list"><img src="images/567caff5Nc4185618.png"><span>企悦检修￥119</span><i
                                class=" fa fa-chevron-down"></i></div>
                        <div class="list"><img src="images/567caff5Nc4185618.png"><span>企悦安装￥99</span><i
                                class=" fa fa-chevron-down"></i></div>

                    </div>
                </div>
                <div class="baitiao">
                    <span>白条分期：</span>
                    <div class="btn" id="baitiao">
                        <a href="javascript:;" class="list">30天免息</a>
                        <a href="javascript:;" class="list">￥1766.33×3期</a>
                        <a href="javascript:;" class="list">￥883.17×6期</a>
                        <a href="javascript:;" class="list">￥468.08×12期</a>
                        <a href="javascript:;" class="list">￥247.29×24期</a>
                        <a href="javascript:;" class="pic"><img src="images/hui.png"></a>
                        <a href="javascript:;" class="wenhao"><img src="images/wenhao.jpg"></a>
                    </div>
                </div>
                <div class="subs">
                    <div class="num" id="subNum">
                        <span>1</span>
                        <a href="javascript:;" type="button">+</a>
                        <a href="javascript:;" type="button">-</a>
                    </div>
                    <button type="button" ng-click="add(data)">加入购物车</button>
                </div>
                <p class="tishi">温馨提示：支持7天无理由退货</p>
            </div>
            <div class="right">
                <div class="pic"><img src="images/5822d05fN0e34b207.png"></div>
                <a href="javascript:;" class="txt"></a>
                <ul>
                    <li><a href="javascript:;">联系供应商</a></li>
                    <li><a href="javascript:;">咨询JIMI</a></li>
                    <li><a href="javascript:;">进店逛逛</a></li>
                    <li><a href="javascript:;">关注店铺</a></li>
                </ul>
                <p class="fuwu">服务支持：</p>
                <ul>
                    <li><a href="javascript:;">京准达</a></li>
                    <li><a href="javascript:;">211限时达</a></li>
                    <li><a href="javascript:;">自提</a></li>
                    <li><a href="javascript:;">售后到家</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
